<div class="jumbotron center">
	<div class="container">
		<h1>Show off your bike</h1>
		<p>
			<%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
			<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>
		</p>
	</div>
</div>
